/** main style **/

body {
    font-family: 'Valera Round', Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.productCards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.productCards article {
    display: inline;
    flex-basis: 30%;
    margin: .5em;
    border: 1px solid lightblue;
}

li {
    font-size: .8em;
    font-weight: bold;
    list-style-type: none;
}

.section2, .section3 {
    text-align: left;
}

h1 {
    margin-bottom: 3em;
    padding-bottom: 1.2em;
    letter-spacing: 8px;
    border-bottom: 4px double lightgrey;
}

/* section 1  */

h2 {
    border: 1px dotted lightgray;
    margin: 0;
}

.scaleImg {
    width: 80%;
    margin: 1em auto;
}

.descript {
    border-top: 1px solid lightblue;
    height: 30%;
    margin: 0;
    padding-top: 1em;
    text-align: justify;
}

.avail {
    color: yellow;
    background-color: darkgrey; 
}

.notAvail {
    color: white;
    background-color: black; 
}

/* section 2 */

.specStamp {
    font-size: .4em;
    margin: 0;
    padding-bottom: 1em;
}


/* true footer */

footer {
    float: right;
    text-align: right;
    margin: 5em 1em 1.5em auto;
}
